h1,p,a {
    text-align:center;
}
.footer-link {
    margin-top: 50px;
    display: block;
}
img {
    width: 300px;
    margin-top:0;
    margin-bottom: 0;
    margin-left: 80px;
    margin-right: 80px;
    display:inline-block;
}
img:hover {
    cursor:pointer;
}
.image-container {
    width:100%;
    text-align: center;
}