html, body {
    width: 260px;
    height: 210px;
}
body {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}
.instructions {
    margin: 10px 0 0 0;
    text-align: center;
    font-weight: lighter;
    font-size: 8pt;
}
a {
    color: #007bff!important;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.instructions-wrapper {
    margin-top: 20px;
}
.button-wrapper {
    height: 38px;
}
.hidden {
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.progress-p {
    margin: 0;
}